.card {
    background: #e9ecef;
    border-radius: 8px;
    width: 23%;
    margin-bottom: 10px;
    position: relative;
}
.conteiner {
    display: flex;
    flex-direction: row;
}
.card img {
    max-width: 100%;
    
    border-radius: 4px;
}
.card p {
    margin: 5px;
}
.card h3{
    margin: 5px ;
}
.card button {
    top: 10px;
    right: 10px;
    background-color: #dc3545;
}
.card-contenedor-tarjetas{
    display: flex;
    flex-direction: row;
    
    
}